* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.msg {
  color: red;
  font-size: 18px;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #e2d7f7;
}

.form form {
  background-color: rgb(244, 244, 244);
  box-shadow: 0px 6px 20px rgb(144, 144, 144);
  border-radius: 10px;
  padding: 2rem;
  width: 28rem;
}

.form form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}
.form form button {
  background-color: #783595;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.form form p {
  font-size: 15px;
  text-align: center;
}
